@import-normalize;
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-md-frequently;
    font-weight: $font-weight-md-regular;
    font-family: $font-family-primary;
    color: $primary-color;
    line-height: $line-height-md-frequently;
    background-color: $background-color;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    height: 100vh;
    justify-content: space-between;
}

main {
    margin: 96px 0 0;
    padding: 24px;
    width: 1200px;
    max-width: 100%;
    .container {
        flex-direction: column;
    }
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
svg {
    fill: $main-gray;
}
path {
    @include transition-all;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transition: all 500ms ease-in;
    transform: translateX(0);
}
.post-exit {

}
.post-exit-active {
    transition: all 500ms ease-in;
    transform: translateX(-350px);
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgrey;
}

.navbar__links {
    margin-left: auto;
}