@import '../../../styles/variables';
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  > div {
    margin: 28px auto;
    * {
      display: flex;
      align-items: center;
    }
  }
}

.logo_title {
  color: $main-gray;
  line-height: $line-height-sm;
  font-size: $font-size-sm;
  margin-left: 16px;
  vertical-align: middle;
  max-width: 137px;
}

.tour {
  text-transform: uppercase;
  a {
    margin: 0 15px;
  }
}

.auth_box > *:not(:first-child) {
  margin-left: 24px;
}

.auth_box > div > a {
    position: relative;
}

.auth_box > div:hover svg path {
  fill: $primary-color;
  @include transition-all;
}

.auth_box > div:hover .user_link_name {
  color: #0d141c;
  @include transition-all;
}

.auth_cell_user {
  img {
    border-radius: 50%;
  }
}

.auth_cell_user > a > * {
  justify-content: center;
  align-items: center;
}

.user_link_name {
  margin: 0 8px;
}

.dropdown {
  width: 24px;
  height: 24px;
  margin: 0 4px;
  @include transition-all;
}

.active {
  transform: rotateX(180deg);
  svg path {
    fill: $primary-color;
  }
}


